<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Autism Spectrum Disorder Detection</title>
      <link rel="stylesheet" href="../static/style.css"> 
   </head>
   <body>
      <header class="cd__intro">
         <div class="heading">
            <h1>Autism Spectrum Disorder Detection</h1>
         </div>
      </header>

      <main class="cd__main">
        <div class="container">
            <h2>Welcome to ASD Detection Portal</h2>
            <p>
                This application is designed to assist in detecting Autism Spectrum Disorder (ASD) using advanced machine learning models. 
                Separate models have been developed for adults and children, ensuring that the predictions are tailored to specific age groups.
            </p>
            <p>
                Please choose the appropriate option below to proceed. The system will guide you to enter the required features, 
                process the input data through our trained models, and predict the likelihood of ASD.
            </p>
            <div class="links">
                <a href="/adult_index">Adult Detection</a>
                <a href="/child_index">Child Detection</a>
            </div>            
        </div>
      </main>


      <footer class="foot">
        <div class="copy">
            <p>Autism Spectrum Disorder Detection &copy; 2025</p>
        </div>
      </footer>
      
      <!-- Script JS -->
      <script src="../static/script.js"></script>
   </body>
</html>